# Build folder
UnityRobot_CommLib/build

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.db
*.opendb
*.idb
*.log
*.tlog
*.lastbuildstate
*.ilk

# Logs
UnityRobot_CommLib/logs/
# Temp objects
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb
*.lib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
